body {
  margin: 0 auto;
  padding: 0px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.816);
}

.header{
  background-color:#21272B;
  color: yellow;
  padding: 5px;
  text-align: center;
  width: auto;
  
}

.MonsterImages{
  width: 180px;
  height: 180px;
}

.bottom{
  background-color:#21272B;
  color: #21272B;
  padding: 10px;
  max-width: 100%;
}


.Monsters{

 
}


.mname{


}

.detailimage{
width: 50vw;
height: 50vh;

}

